.wrapper {
  width: 90%;
  max-width: 150rem;
  height: 20vh;
  margin-top: 1rem;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 100%;
  border-radius: 6px;
  position: relative;
  animation: scrollRight 10s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.item1 {
  background-image: url('../../public/uploads/merck.svg');
  width: 200px;
  height: 100px;
  animation-delay: 0s;
}
.item2 {
  background-image: url('../../public/uploads/gorillas.svg');
  width: 250px;
  height: 100px;
  animation-delay: 1s;
}
.item3 {
  background-image: url('../../public/uploads/marriott-intl.svg');
  width: 300px;
  height: 100px;
  animation-delay: 2s;
}
.item4 {
  background-image: url('../../public/uploads/polaris.svg');
  width: 200px;
  height: 100px;
  animation-delay: 3s;
}
.item5 {
  background-image: url('../../public/uploads/group1-automotive.webp');
  width: 200px;
  height: 100px;
  animation-delay: 4s;
}
.item6 {
  background-image: url('../../public/uploads/hilton.svg');
  width: 200px;
  height: 100px;
  animation-delay: 5s;
}
.item7 {
  background-image: url('../../public/uploads/saic.svg');
  width: 200px;
  height: 100px;
  animation-delay: 6s;
}
.item8 {
  background-image: url('../../public/uploads/costco.svg');
  width: 200px;
  height: 100px;
  animation-delay: 7s;
}
.item9 {
  background-image: url('../../public/uploads/wolt.svg');
  width: 200px;
  height: 100px;
  animation-delay: 8s;
}
.item10 {
  background-image: url('../../public/uploads/lowes.svg');
  width: 200px;
  height: 100px;
  animation-delay: 9s;
}

@media (min-width: 1024px) {
  .wrapper {
    height: 20vh;
    gap: 2rem;
  }
  .item {
    min-width: 200px;
    animation-duration: 15s;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    height: 15vh;
    gap: 1.5rem;
  }
  .item {
    min-width: 150px;
    height: 15vh;
    animation-duration: 12s;
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: 12vh;
    gap: 1rem;
  }
  .item {
    min-width: 120px;
    height: 12vh;
    animation-duration: 10s;
  }
}

@media (max-width: 480px) {
  .wrapper {
    height: 10vh;
    gap: 0.5rem;
  }
  .item {
    min-width: 100px;
    height: 10vh;
    animation-duration: 8s;
  }
}
