.secondSection {
  background-color: #1a1c2b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  max-height: 35vh;
  width: 100%;
  box-sizing: border-box;
}
.firstLine {
  height: 10vh;
  color: #8d8d96;
  text-align: center;
}
.idcHead {
  background-image: url('../../../public/uploads/idc.webp');
  width: 20rem;
  height: 4vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
  display: inline-block;
}
.idcContent,
.gartnerContent,
.forresterContent p {
  color: #8d8d96;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
}
.gartnerHead {
  background-image: url('../../../public/uploads/gartner.webp');
  width: 20rem;
  height: 4vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
  transition: all 4s;
}
.idc,
.forrester,
.gartner {
  padding: 0.5rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.idc p:hover {
  margin-bottom: 5px;
  cursor: pointer;
}
.gartner p:hover {
  margin-bottom: 5px;
  cursor: pointer;
}
.forrester p:hover {
  margin-bottom: 5px;
  cursor: pointer;
}

.forresterHead {
  background-image: url('../../../public/uploads/forrester.webp');
  width: 20rem;
  height: 5vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
}
