.thirdSectionHeader {
  margin: 4% auto;
  text-align: center;
  font-size: larger;
  width: 35%;
  min-height: 8vh;
  font-weight: 150;
}
.thirdSection {
  width: 100%;
  max-height: auto;
  height: 64vh;
}
.card1,
.card2,
.card3,
.card4 {
  border: 1px solid lightgray;
  border-radius: 15px;
  width: 23%;
  height: 25vh;
  padding: 20px;
  font-size: larger;
  color: rgb(29, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thirdSectionfirst,
.third-SectionSecond {
  display: flex;
  gap: 20rem;
}

.thirdSectionfirst,
.third-SectionSecond {
  display: flex;
  justify-content: center;
}
