.thirdSectionHeader {
  margin: 5rem auto;
  text-align: center;
  width: 90%;
  min-width: 35rem;
  min-height: 9vh;
}
.thirdSectionHeader h1 {
  font-weight: 600;
  font-size: 2.5rem;
}
.thirdSection {
  width: 100%;
  max-height: 100%;
  height: 100vh;
}
.card1,
.card2,
.card3,
.card4 {
  border: 1px solid lightgray;
  border-radius: 15px;
  width: 100%;
  max-width: 55%;
  height: 25vh;
  padding: 20px;
  font-size: 1rem;
  padding: 20px;
  color: rgb(29, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.thirdSectionfirst,
.third-SectionSecond {
  display: flex;
  width: 100%;
  max-width: 55%;
  height: 25vh;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.cards {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 10rem auto;
}
