.thirdSectionHeader {
  margin: 4% auto;
  text-align: center;
  width: 90%;
  min-width: 35rem;
  min-height: 9vh;
}
.thirdSectionHeader h1 {
  font-weight: 600;
  font-size: 2.5rem;
}
.thirdSection {
  width: 100%;
  height: auto;
  max-height: 64vh;
}
.card1,
.card2,
.card3,
.card4 {
  border: 1px solid lightgray;
  border-radius: 15px;
  width: 100%;
  max-width: 35%;
  height: 45vh;
  padding: 20px;
  font-size: 1rem;
  padding: 20px;
  color: rgb(29, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.thirdSectionfirst,
.third-SectionSecond {
  display: flex;
  gap: 20rem;
}

.thirdSectionfirst,
.third-SectionSecond {
  display: flex;
  justify-content: center;
}
