.NavBar .nav-first {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgb(3 10 26);
  color: rgb(255 255 255);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  overflow-x: hidden;
}
.NavBar.scrolled {
  background-color: white;
  color: black;
}
.NavBar h1 {
  font-size: 1.9rem;
  cursor: pointer;
}
.nav-first {
  max-width: 44%;
  margin-left: 6%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.NavBar:hover {
  background-color: rgb(255 255 255);
  color: black;
}

.nav-first p {
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.nav-second button {
  margin-right: 6rem;
  width: 100%;
  max-width: 12rem;
  height: 45px;
  background-color: #dd0735;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #dd0735;
  font-size: 15px;
  font-weight: bolder;
}
